.title{
  font-size: 60px;
  font-family:'Secular One', sans-serif;
  text-align: center;
  color: #16196a;
}
.sub{
  font-size: 18px;
  font-family: "Secular One", sans-serif;
  color: inherit;
  text-align: center;
}
.buttonboi{
  border:1px solid black;
  text-decoration: none;
  color: black;
  padding: 8px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  animation-play-state: paused;
}
.buttonboi:hover{
  animation-play-state: running;
  background-color: #16196a;
  color: #fff;
}
