.title{
  font-size: 60px;
  font-family:'Secular One', sans-serif;
  text-align: center;
  color: #16196a;
}
.sub{
  font-size: 18px;
  font-family: "Secular One", sans-serif;
  color: inherit;
  text-align: center;
}
.speedo{
  align-content: center;
  padding: 15%;
}
